.form {
  display: flex;
  width: 250px;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid black;
}

.form_input {
  width: 181px;
}

.form_button {
  width: 181px;
}

.form_message_error {
  font-weight: 500;
  color: red;
}
